<phpunit bootstrap="testing/bootstrap.php" colors="true">
	<testsuites>
		<testsuite name="projectcleverweb\punchy">
			<directory>testing/tests</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">src/system/includes</directory>
		</whitelist>
	</filter>
	<logging>
		<log type="coverage-text" target="php://stdout" />
	</logging>
</phpunit>
